<h2>Session Pageviews</h2>
<p>Session: {{visitor.session_key}}<br />
User: {% firstof visitor.user.get_full_name visitor.user "Anonymous" %}</p>
{% if pages %}
<table>
    <thead>
        <tr>
            <th>Visit Time</th>
            <th>Method</th>
            <th>URL</th>
            <th>Response Code</th>
        </tr>
    </thead>
    <tbody>
        {% for page in pages %}
        <tr>
            <td>{{ page.view_time }}</td>
            <td>{{ page.method }}</td>
            <td>{{ page.full_url }}</td>
            <td>{{ page.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>Data for pageviews is not available</p>
{% endif %}
